body {
    font-family: cursive;
}
h1 {
    background-color: black;
    color:aqua;
    font-size: 50px;
    text-align: left;
}
h1 span {
    color: white;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
h3 {
    background-color: rgb(163, 218, 255);
    color: rgb(62, 31, 93);
    text-align: right;
    text-decoration: underline;
}