body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(73, 73, 73);
    text-align: center;
}
p {
    text-align: center;
    color: gray;
}
#Box1 {
    background-color: rgb(165, 255, 255);
}
#Box2 {
    background-color: bisque;
}
#Box3 {
    background-color: rgb(255, 196, 196);
}

.image {
    height: 200px;
}

#Box1, #Box2, #Box3 {
    align-items: center;
    display: flex;
    height: 250px;
    justify-content: space-around;
    margin: 20px;  
}
